
<div class="col-xs-12 col-sm-12 col-md-4">
                <div class="edit--profile-area">
                    <ul class="edit--profile-links list-unstyled mb-0">
                        <li><a href="user-profile">Edit Profile</a></li>
                        <li><a href="social-profile" class="active">Social Profiles</a></li>
                        <li><a href="../home/my-properties.html">My Properties</a></li>
                        <li><a href="../home/favourite-properties.html">Favorite Properties</a></li>
                        <li><a href="../home/add-property.html">Add Property</a></li>
                    </ul>
                </div>
            </div>