{% load static %}

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="wrapper clearfix">

    <header id="navbar-spy" class="header header-1 header-transparent header-fixed">
        <nav id="primary-menu" class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo" href="index.html">
                        <img class="logo-light" src="{% static 'images/logo/logo-light.png' %}" alt="Land Logo">
                        <img class="logo-dark" src="{% static 'images/logo/logo-dark.png' %}" alt="Land Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                    <ul class="nav navbar-nav nav-pos-center navbar-left">
                        <!-- Home Menu -->
                        <li class="has-dropdown active">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">home</a>
                            <ul class="dropdown-menu">
                                <li><a href="/index">home search</a></li>
                                <li><a href="/home-map">home map</a></li>
                                <li><a href="/home-property">home property</a></li>
                                <li><a href="/home-splash">home splash</a></li>
                            </ul>
                        </li>
                        <!-- li end -->

                        <!-- Pages Menu-->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">agents</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/agents">All Agents</a>
                                        </li>
                                        <li>
                                            <a href="/agent-profile">agent profile</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">agencies</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/agency-list">all agencies</a>
                                        </li>
                                        <li>
                                            <a href="/agency-profile">agency profile</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">blog</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/blog">blog Grid</a>
                                        </li>
                                        <li>
                                            <a href="/blog-sidebar-right">blog Grid Right </a>
                                        </li>
                                        <li>
                                            <a href="/blog-sidebar-left">blog Grid Left </a>
                                        </li>
                                        <li>
                                            <a href="/blog-single">blog single</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/page-about">page about</a></li>
                                <li><a href="/page-contact">page contact</a></li>
                                <li><a href="/page-faq">page FAQ</a></li>
                                <li><a href="/page-404">page 404</a></li>
                            </ul>
                        </li>
                        <!-- li end -->

                        <!-- Profile Menu-->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Profile</a>
                            <ul class="dropdown-menu">
                                <li><a href="/user-profile">user profile</a></li>
                                <li><a href="/social-profile">social profile</a></li>
                                <li><a href="/home/my-properties">my properties</a></li>
                                <li><a href="/favourite-properties">favourite properties</a></li>
                                <li><a href="/add-property">add property</a></li>
                            </ul>
                        </li>
                        <!-- li end -->

                        <!-- Properties Menu-->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Properties</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Properties grid</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/properties-grid">properties grid</a>
                                        </li>
                                        <li>
                                            <a href="/properties-grid-split">properties grid split</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">properties list</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/properties-list">properties list</a>
                                        </li>
                                        <li>
                                            <a href="/properties-list-split">properties list split</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">properties single</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/property-single-gallery">single gallery</a>
                                        </li>
                                        <li>
                                            <a href="/property-single-slider">single slider</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- li end -->

                        <li><a href="/page-contact">contact</a></li>



                    </ul>
                    <!--=========LOGIN==================-->

                    <ul class="nav navbar-nav nav-pos-left navbar-left">
                      <li class="has-dropdown active">

                            <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">LOGIN</a>
                            <ul class="dropdown-menu">


                                {%  if not user.is_authenticated %}
                                        <li><a href="/accounts/sign_in">Sign in</a></li>
                                       <li> <a href="/accounts/sign_up">Sign up</a></li>
                                {% else %}
                                       <li> <a  href="/accounts/sign_out">Sign out</a></li>
                                       <li> <a  href="/accounts/user-profile">Profile</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a  href="/accounts/sign_in" >
                                USER:
                                    {% if user.is_authenticated %}
                                        {{ user.username }}
                                    {% else %}
                                        Guest
                                    {% endif %}</a></li>

                        </ul>
                    <!--=========End LOGIN==================-->







<!--                    ================       -->
{#                   {% include 'layouts/sign-up.html' %}--> #}

                    <!-- Module Consultation  -->
                    <div class="module module-property pull-left">
                        <a href="add-property" target="_blank" class="btn"><i class="fa fa-plus"></i> add property</a>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

    </header>
