{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<div id="content" class="container">
    <h2>{{ title }}</h2>

   {% if user.username == 'admin' or user.username == 'admin1' %}
       <hr>
            <a href="/goods/create" class="btn btn-primary btn-md smoothscroll">+ ADD Property</a>
       <p></p>
    {% endif %}
    <div class="pagination" style="margin-top: 20px">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first |</a>
                <a href="?page={{ page_obj.previous_page_number }}">  << previous << </a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> >> next >></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">| last</a>
            {% endif %}
        </span>
    </div>

    <table class="news" border="1">
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Status</th>
            <th>Location</th>
            <th>Beds</th>
            <th>Metro</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>VideoURL</th>

            <th>Manage</th>
        </tr>
{#        {% for post in posts %}#}
        {# Пагинация        #}
        {% for post in page_obj %}
            <tr>
                <td>
                    <img src="/media/{{ post.photo }}" width="100" height="100">
                </td>
                <td>{{ post.name }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.type }}</td>
                <td>{{ post.status }}</td>
                <td>{{ post.location }}</td>
                <td>{{ post.beds }}</td>
                <td>{{ post.metro }}</td>
                <td>{{ post.address }}</td>
                <td>{{ post.city }}</td>
                <td>{{ post.country }}</td>
                <td>
                    <a href="{{ post.videoURL }}" target="_blank">videoURL</a>
                </td>
                <td>{% if user.username == 'admin' or user.username == 'admin1' %}
                    <a href="/goods/details/{{ post.id }}">Details</a>
                    <a href="/goods/edit/{{ post.id }}">Edit</a>
                    <a href="/goods/delete/{{ post.id }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination" style="margin-top: 20px">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first |</a>
                <a href="?page={{ page_obj.previous_page_number }}">  << previous << </a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> >> next >></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">| last</a>
            {% endif %}
        </span>
    </div>
    <hr>
</div>
{% endblock content %}